*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/workspace.xml
.idea/modules/memez_test.iml
.idea/modules/memez_main.iml
*.lock
*.bin
